@import "colours"

html
	font-size 100%

div, img, body
	margin 0
	padding 0
	box-sizing border-box

body
	font-family 'Lato', sans-serif !important
	font-size 16px
	text-align center
	background-color #e2e2e2

::selection
	background fu_pomegranate
::-moz-selection
	background fu_pomegranate

.container
	position absolute
	margin-top 2.5%
	width 700px
	left 50%
	margin-left -350px

#image img
	width 400px
	height 400px


#button
	margin-top 10px
	font-size 4em
	font-weight bold
	color #fff
	background-color fu_pomegranate
	padding 10px
	cursor pointer
	border-radius 5px

	&:hover
		background-color darken(fu_pomegranate, 10%)

#name
	margin-top 30px
	font-size 2.75em

#fancy
	position fixed
	width 100%
	bottom 5px
	font-size 1.15em

	a
		color fu_pomegranate

.no-select
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
