// flat ui colours
fu_turquoise = #1ABC9C
fu_green_sea = #16A085
fu_emerald = #2ECC71
fu_nephritis = #27AE60
fu_peter_river = #3498DB
fu_belize_hole = #2980B9
fu_amethyst = #9B59B6
fu_wisteria = #8E44AD
fu_wet_asphalt = #34495E
fu_midnight_blue = #2C3E50
fu_sun_flower = #F1C40F
fu_orange = #F39C12
fu_carrot = #E67E22
fu_pumpkin = #D35400
fu_alizarin = #E74C3C
fu_pomegranate = #C0392B
fu_clouds = #ECF0F1
fu_silver = #BDC3C7
fu_concrete = #95A5A6
fu_asbestos = #7F8C8D
